@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font1-Jersey: "Jersey 10", sans-serif;
    --font2-Raleway: "Raleway", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    overflow: none;
}

body {
    background-color: #212429;
    min-height: 100vh;
    flex-grow: 1;
    overflow-x: hidden;
}


main {
    background-color: white;
}


.navbar-brand img {
    width: 70px;
    height: 70px;
    background-color: white;
    border: 3px solid rgb(250, 253, 255);
    border-radius: 50%;
}

.navbar-brand img:hover {
    border: 3px solid #3fb7c7;
    border-radius: 50%;
    background-color: white;
}



.navbar-nav .nav-item { /*ESPAÇAMENTO ENTRE OS ITENS DO NAV*/
    margin-right: 15px;
}

.corCardPq {
    background-color: #d8d8d8;
}

.corCardGd {
    background-color: #d8d8d8;
}

.cardMaior {
    max-width: 540px; 
    margin: 0px 12px auto;
    justify-content: space-between;
    align-items: center;
}

.cardGiga {
    max-width: 1280px;
    margin: auto;
}

.banner1  img {
    margin: auto;
    display: block;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    z-index: 1; /* Garante que a camada esteja sobre a imagem */
}

h1 {
    font-size: 120px;
    font-family: var(--font1-Jersey);
    margin: auto;
}

.areaDeContato {
   max-width: 100%;
   overflow-x: hidden;
}

.areaDeContato img {
    background: repeat-y;
    max-width: 1293px;
    min-width: 1255px;
}

.overlayForP {
    background-color: #8f9092;
    border-radius: 10px;
}




.rodape {
    text-align: center;
    padding: 20px 0; /* Espaçamento interno do footer */
    max-width: 100%;
}

.rodape a {
    text-decoration: none;
    color: white;
}

.rodape a:hover {
    text-decoration: none;
    color: #4794ff;
}

/* .gifs img, #gif1 {
    position: relative;
    top: -200px;
    left: 900px;
} */

