@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    overflow-x:none;
}

body {
    background-color: #212429;
}

main {
    background-color: white;
}


.navbar-brand img {
    width: 70px;
    height: 70px;
    background-color: white;
    border: 3px solid rgb(250, 253, 255);
    border-radius: 50%;
}

.navbar-brand img:hover {
    border: 3px solid #c1e0e4;
    border-radius: 50%;
    background-color: white;
}



.navbar-nav .nav-item { /*ESPAÇAMENTO ENTRE OS ITENS DO NAV*/
    margin-right: 15px;
}

.corCardPq {
    background-color: #d8d8d8;
}

.corCardGd {
    background-color: #d8d8d8;
}

.cardMaior {
    max-width: 540px; 
    margin: 0px 12px auto;
    justify-content: space-between;
    align-items: center;
}